#messages-photo
  %h3
    Маргарита
    %br/
    Корнеева
  = image_tag 'http://www.korneeva.com/photos/01.jpg', :alt => "image"

#contacts-info
  %h3 Русский романс. Гитара, голос и душа - для Вас!

  %h3 Выступления на частных и корпоративных вечеринках, торжествах и концертах.

  %p Мои диски можно приобрести только на моих выступлениях.

  %p
    \(следите за разделом #{link_to 'Афиша'} )

  %h3
    +7 (499) 239-89-61
    %br/
    +7 (916) 237-56-54
  %br/
  %h3
    rita@korneeva.com

#send-a-message
  = render 'form'
