#titov-songs-header
  %h4
    Эта страница создана и представлена с согласия Анатолия Титова.
%br/
#titov-songs-content
  %h2
    "ВОСПОМИНАНИЕ О РОМАНСЕ"
  #titov-cover
    =image_tag 'http://www.korneeva.com/jpg/Titov-disk1.jpg'
  #titov-photo-text
    =image_tag 'http://www.korneeva.com/jpg/Titov-disk2.jpg'
    #titov-narrow
      %p Старинная барская усадьба... Дворянское гнездо, каких было много на Руси до апокалипсиса 1917 года... Чудные тихие сумерки, когда ещё не хочется зажигать огня... В раскрытые окна струится опьяняющий запах сирени... Звучит палисандр дачной гитары. И негромкий, но выразительнейший, богатый красками, голос старого актёра: "В вазе букет увядающих роз... Несколько начатых прерванных строк..."
      %p "Ах, господа, какой удивительный этот диск!" Вот первые слова, что вырвались у меня, когда мы за вечерним чаем, слушали перламутровые романсы в записи моего любезного друга Анатолия Титова. Я понимаю, конечно, что похвала необходима артисту, как канифоль смычку виртуоза, но здесь дело в другом.
      %p Наслаждаясь романсовыми диковинками (а многие вещи именно таковыми и являются, например, "Две коробки", "Мусмэ и мандарин", "Романс льва"), подумалось о грустном: вот я существую, переживаю эпоху каких-то нефтедолларов, нескончаемых реформ нашего бытия, ожидая некой пандемии, и душа болит...
      %p А мне бы родиться лет этак сто тридцать тому назад, аккурат в то самое время, когда появлялись на свет Юрий Морфесси, Анастасия Вальцева, Николай Северский, Варя Панина, Владимир Сабинин... Кумиры молодёжи, корифеи-исполнители русско-цыганского романса. Сидел бы я в гостях, скажем, в ясной Поляне, Спасском-Луговиново, Поленово... Или даже в собственном, деревенском доме с видом на заросший пруд в тенистом парке, держал бы за руку прелестную незнакомку с вьющимися локонами, и внимал бы романсам заезжего старого актёра... Увы:, История развивалась иначе и иллюзию несбывшегося прошлого поддерживает лишь голос моего друга...
  #titov-page-text
    %p А всё-таки я представлю его, как положено, ибо многие, быть может, услышат его впервые. Да и те, кто знаком с ним..., уверен, откроют для себя новые, неожиданные грани его редкого дарования.
    %p Анатолий Григорьевич Титов - актёр Божьей милостью. Окончил, Щепкинское училище и с 1968 года служит в театре "Ромэн", где играет роли довольно широкого диапазона: Голован в "Грушеньке" И.Штока, Будулай в "Цыгане" А.Калинина, Дворняжкин в "Четырёх женихах" И.Хрусталёва и др. Однако ведущее место в творчестве А.Титова принадлежит, как он выражается, Его Величеству Романсу. Его нотная коллекция насчитывает около четырёх тысяч (!) произведений этого жанра. Многие романсовые жемчужинки он находил не только в результате кропотливых поисков в архивах, но иногда - случайно o- даже там, куда мы обычно выносим старьё. Многие яркие находки он показывает людям на своих концертах.
    %p Слушая этот диск, вы сразу заметите, что исполнение артистом "избранного" отличается изысканной интерпретацией, душевной проникновенностью и незаурядным гитарным аккомпанементом. Добавлю ещё, что Титов - верный продолжатель старой (к сожалению, ныне совсем утраченной) актёрской манеры исполнения, признанным мастером которой был, к примеру, записной мхатовец Михаил Яншин (кстати, одно время руководивший "Ромэном" и женатый на знаменитой цыганке Ляле Чёрной). В этой актёрской манере вокал - не главное, в высоком значении слова, его может и не быть, но гораздо важнее другое: душа исполнителя, нюансировки голоса, его обертоны, паузы и ещё нечто неуловимое и сугубо индивидуальное, но что придаёт неповторимый шарм исполнению.
    %p Популяризируя забытый старинный романс, Анатолий Титов, не ограничивается только лишь концертной деятельностью. По его инициативе, при Доме актёра создан Клуб любителей романса "Хризантема", недавно отметивший своё 15-летие. В качестве члена жюри артист принимает участие в различных фестивалях и конкурсах: "С любовью к романсу" (Москва), "Белая акация" (республика Марий Эл), Всероссийский конкурс во Владимире, Международный - имени Изабеллы Юрьевой - в Таллине и др., является автором известного телепроекта "Роман с романсом" и целого ряда радиопередач. По мере возможностей, он издаёт лучшие образцы своей богатейшей коллекции. За последние годы им выпущено семь нотных сборников, ставших уже библиографической редкостью. Издан первый том " Краткой антологии городского-бытового романса", уникальной по своему содержанию. Готовится к печати второй том.
    %p В предлагаемый вам, дорогие друзья, диск включено, пожалуй, лучшее из того, что исполняет Анатолий Титов. Я бы сказал, это образцы высокой пробы, отменного вкуса. Жанровая палитра весьма многообразна: "жестокий" романс соседствует с салонным, лирический чередуется с... сатирическим (есть и такие), элегия сменяется изысканной миниатюрой. "Недостаток" лишь один: нет ни одного "запетого" романса. Тут, какую вещь ни возьми - "намоленный" вековой раритет, оживший антиквариат, драгоценные камеи и медальоны...</p>
    %p Старинная усадьба... Полумрак гостиной... И "романс старого актёра"... Одним словом, браво, Анатолий Титов!
    #titov-name-sign
      %p Борис САВЧЕНКО

    #titov-songs-list
      -if @titov_songs.any?
        = render @titov_songs
      -else
        Нет ни одной песни