
= link_to video_record.title, video_record.youtube_url
%br/
%iframe{:align => "center", :name => "window", :src => video_record.youtube_url, :title => video_record.title , :height => "400px;", :width => "480px;", :style => "margin-top:30px;"}

