%iframe{:align => "center", :name => "window", :src => "#{list_make_shipments_path(:ids => "#{@shipment_success_responses.collect(&:id).join(",")}")}", :height => "1000px;", :width => "1100px;", :style => "margin-top:30px;"}

%iframe{:align => "center", :name => "window", :src => video_record.url, :title => video_record.title , :height => "1000px;", :width => "1100px;", :style => "margin-top:30px;"}

<iframe id="form" height="480" width="320" src="/mobile_preview/preview"></iframe>
<iframe src="<%= url_for :action => 'brands' %>" scrollbars="auto" name="brands"></iframe>