<h1>Репертуар</h1>
<div id='page-image'>
  <%= image_tag 'http://www.korneeva.com/img/168x255.jpg', :alt => "image" %>
</div>
<div id='songs-page-desc'>
  <span>
    <p>
    На этой странице размещены ссылки на тексты и ноты моего репертуара. Для того чтобы перейти на страницу песни с нотами, текстом и возможностью прослушать запись, нажмите на название песни.
    </p>
    <p>
    Романсы, отмеченные годом записи можно скачать в формате mp3. Для того, чтобы скачать романс, нажмите правой кнопкой мыши по году записи и выберите команду "Сохранить файл..."
    </p>
  </span>
</div>
<div id='songs-list'>
  <div class='weaves'>
    <%= image_tag 'http://www.korneeva.com/img/line.png', :alt => "image" %>
    <img src="http://www.korneeva.com/img/line.png" alt="image">
    <%= image_tag 'http://www.korneeva.com/img/line.png', :alt => "image" %>
  </div>
    <ul>
    <%= render @songs %>
    </ul>
</div>




