<h1>О себе</h1>

<%= image_tag 'http://www.korneeva.com/photos/481.jpg', class: "photo", width: "385", height: "342",
align: "right" %>
<div class='narrow-text'>
  <p>
    Давайте знакомиться: Маргарита Корнеева. По рождению я сибирячка, выросла в городе Калининграде, живу и работаю в Москве.
  </p>
        <p>
          Более двадцати лет назад мне случайно попала в руки пластинка Изабеллы Юрьевой. Меня покорил её голос и стиль исполнения. Именно она и заронила в мою душу зёрна любви к романсу. С конца 80-х годов я начала собирать пластинки с записями исполнителей романсов, сборники романсов, всё больше и больше увлекаясь этим жанром. Десятки старых виниловых дисков и сотни часов, проведённых за их прослушиванием - вот моя школа. Юрьева, Козин, Агафонов, Баянова, Юровская, Церетели, Джапаридзе, Карева - далеко неполный список замечательных исполнителей, по записям которых я училась понимать душу романса. В моем репертуаре появлялось всё больше и больше романсов, пока, наконец, они не вытеснили всё остальное. Я окончательно и бесповоротно влюбилась в этот жанр, испытывая настоящий восторг от исполнения романса.
        </p>
  <p>
    Постепенно набирался репертуар. Мой первый "романсовый" сольный концерт состоялся в декабре 1999 года. Я показала программу "Романс уходящего века", где исполнила 25 моих самых любимых романсов.
  </p>
        <p>
          Название этого концерта дало имя целому циклу романсовых программ, с которыми я выступала на протяжении последних лет на различных концертных площадках. Не могу назвать точно количество этих выступлений, но сейчас в моём репертуаре около двухсот романсов. В период с 2002 по 2009 гг. вышли четыре сольных альбома.
        </p>
</div>
<div class='wide-text'>
        <p>
          Время идет. "Уходящий" 20-й век и давно ушедший 19-й становятся от нас все дальше. Однако созданные в то время романсы не умирают, а наоборот, вызывают все больший интерес. Вероятно, в наше динамичное время, насыщенное стрессами и высокими скоростями, человеку требуется что-то, дающее возможность остановиться и отдохнуть душой. С моей точки зрения, таким замечательным средством и является старинный русский романс, неизменно затрагивающий самые тонкие струны человеческой души.
        </p>
  <p>
    Романс - моя страсть, моя любовь, мое состояние души. Я просто не могу не петь романсы! И с огромной радостью готова поделиться всем этим с вами, мои дорогие поклонники Русского Романса!
  </p>
</div>
        <div class="text-to-right">
          С искренним уважением,
          <br>
          Маргарита Корнеева
        </div>