%h1 Анонс исполнителя
#anons-photo
  %img{:alt => "center-image", :src => "http://www.korneeva.com/jpg/232x161.jpg"}/
.text-block.narrow-anons
  %p
    Талантливая исполнительница старинных русских романсов Маргарита Корнеева
    уже более 20 лет занимается изучением, коллекционированием и исполнением русских
    романсов, ведёт активную концертную деятельность.
    В её репертуаре около двухсот романсов.
  %p
    Верность жанру, чистота стиля исполнения вместе с самобытной манерой и уникальным глубоким "грудным" тембром голоса, собственный гитарный аккомпанемент и прекрасное сопровождение работающих с Маргаритой музыкантов, обширный репертуар, необыкновенная теплота и задушевность в общении с залом и, конечно, вложенная в каждый романс частичка души певицы - всё это по достоинству оценивается публикой.
    Многие поклонники этого жанра считают Маргариту Корнееву самой яркой и аутентичной исполнительницей старинных русских романсов на современной эстраде. "Мадам Романс" - так называют её зрители.
.weaves.anons-width
  %img{:src => "http://www.korneeva.com/img/line.png"}/
#sponsor-search
  Маргарита Корнеева ищет меценатов, любящих русский романс, а также приглашает к сотрудничеству импресарио и концертных администраторов.
.weaves.anons-width
  %img{:src => "http://www.korneeva.com/img/line.png"}/
.list
  %ul
    %li
      2010 г. - лауреат VI Всероссийского открытого конкурса исполнителей романса.
    %li
      2010 г. - лауреат V открытого конкурса исполнителей русского романса
    %li
      "Романсиада без границ - 2010"
    %li
      2009 г. - дипломант конкурса "С любовью к романсу" им. Анатолия Титова.
    %li
      2005 г. - лауреат премии им. маршала авиации дважды Героя Советского Союза Н.Скоморохова.
.weaves.anons-width
  %img{:src => "http://www.korneeva.com/img/line.png"}/
%ul
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/Vy_mne_escheo_i_ne_skazali.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Вы мне ещё и не сказали (В. Булюкин - В. Лапшин)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/beloj_akacii.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Белой акации гроздья душистые (обр. М. Штейнберга - А. Пугачёв)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/gaida_troika.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Гайда, тройка! (М. Штейнберг)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/gori_gori_moja_zvezda.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Гори, гори, моя звезда... (П. Булахов - В. Чуевский)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/kogda_predchuvstviem_razluki.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Когда в предчувствии разлуки... (Д. Ашкенази - Я. Полонский)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/nakinuv_plash.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Накинув плащ, с гитарой под полою (неизв. авт., обработка Я. Пригожего)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/ne_tverdi.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Не тверди! (А. Дюбюк - П. Муратов)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/ruki.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Руки (И. Жак - В. Лебедев-Кумач)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/ne_pokidaj_menja_vesna.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Не покидай меня весна (В. Дашкевич - Ю. Ким)
  %li
    %object{:data => "http://www.korneeva.com/player/dewplayer.swf?son=http://www.korneeva.com/mp3/osennjaja_rosa.mp3&autoplay=[0]&autoreplay=0", :height => "20", :type => "application/x-shockwave-flash", :width => "200"}
      %param{:name => "bgcolor", :value => "#121212"}/
      Разрешите запуск ActiveX.
    %p Осенняя роса (И. Йошка - Ю. Гарин)
#anons-audio-and-video
  %p
    Полное собрание записей романсов в исполнении Маргариты Корнеевой можно прослушать, а также скачать на странице #{link_to 'Репертуар', songs_path}.
  %p
    Остальные видеозаписи доступны в разделе #{link_to 'Видеозаписи', page_path('video_records')}.
