%h1 Афиша
Уникальный концерт "Этот апрель..."

Маргарита и Саша Корнеевы поют любимые авторские песни!

Вы услышите произведения таких бардов как

Окуджава и Визбор, Берковский и Мищуки, Суханов и Киннер и многих других...


Гитарное сопровождение - Олег Дорогов

Специальный гость - известный автор и исполнитель Игорь Симановский


Бард-клуб "Шале", 10 апреля, 19-30

Бронирование мест и справки по телефону +7(499)317.85.00

Приходите обязательно!

= image_tag 'http://www.korneeva.com/img/welcome.jpg', :alt => "billboard_photo"
