#main-page
  #text-bar
    #about-music
      %p
        Я думаю, что романс - это не просто
        %br/
        вокальные данные или мастерство исполнения,
        %br/
        и даже не стиль и не жанр.
        %br/
        Романс - это состояние души.
        %br/
        А вы согласны со мною?
    %div#name Маргарита Корнеева
    %h1.site-name Романс уходящего века
    .weaves
      %img{:alt => "---", :src => "http://www.korneeva.com/img/line.png"}/
    #blog-task
      %p Основной задачей своего творчества считаю популяризацию старинного русского и современного городского романса как уникального явления нашей культуры.
      %p В свете этого особое внимание уделяю сохранению чистоты стиля и возрождению традиций исполнения русского романса, а также изучению истории развития этого жанра.
      %p В своём творчестве стараюсь максимально сохранить манеру исполнения романсов, присущую звёздам прошлого века.
      %p Романс - моя страсть, моя любовь, моё состояние души. Я просто не могу не петь романсы.
      %p И я с радостью делюсь всем этим со своими слушателями.
      %div
        #close-concert
          %h1 Ближайшие концерты
          = link_to static_path("announcement") do
            %u
              %i 17 февраля 2013, воскресенье, 14:00
            %br/
            Музей-заповедник Царицыно,
            %br/
            Музыкальная гостиная Большого дворца
            %br/
            Олег Дорогов и Маргарита Корнеева
            %br/
            в программе "РАССКАЗЫ О ГИТАРЕ"
            %br/
            \~
            %br/
            %u 3 марта 2013, воскресенье, 18:00
            %br/
            Малый зал ЦДРИ
            %br/
            %b Премьера новой программы
            %br/
            %b «Пусть тебе снятся цветы…»
            %br/
        #enter
          = link_to 'Вход', page_path("announcement")
  #blog-photo
    %img{:alt => "Маргарита Корнеева", :src => "http://www.korneeva.com/img/main.jpg"}/