<div id='text-bar'>
  <div id='about-music'>
    <p>
      Я думаю, что романс - это не просто <br>
      вокальные данные или мастерство исполнения, <br>
      и даже не стиль и не жанр. <br>
      Романс - это состояние души. <br>
      А вы согласны со мною?
    </p>
  </div>
  <span id='name'>Маргарита Корнеева</span>
  <h1 class="site-name">Романс уходящего века</h1>
  <div class='weaves'>
    <img src="http://www.korneeva.com/img/line.png" alt="---">
  </div>
  <div id='blog-task'>
    <p> Основной задачей своего творчества считаю популяризацию старинного русского и современного городского романса как уникального явления нашей культуры. </p>
    <p> В свете этого особое внимание уделяю сохранению чистоты стиля и возрождению традиций исполнения русского романса, а также изучению истории развития этого жанра. </p>
    <p> В своём творчестве стараюсь максимально сохранить манеру исполнения романсов, присущую звёздам прошлого века. </p>
    <p> Романс - моя страсть, моя любовь, моё состояние души. Я просто не могу не петь романсы. </p>
    <p> И я с радостью делюсь всем этим со своими слушателями. </p>
    <div>
      <div id='close-concert' >
        <h1> Ближайшие концерты </h1>
        <%= link_to page_path("announcement") do %>
        <u>
        <i>17 февраля 2013, воскресенье, 14:00</i>
        </u>
        <br>
        Музей-заповедник Царицыно,
        <br>
        Музыкальная гостиная Большого дворца
        <br>
        Олег Дорогов и Маргарита Корнеева
        <br>
        в программе "РАССКАЗЫ О ГИТАРЕ"
        <br>
          ~
        <br>
        <u>3 марта 2013, воскресенье, 18:00</u>
        <br>
        Малый зал ЦДРИ
        <br>
        <b>Премьера новой программы</b>
        <br>
        <b>«Пусть тебе снятся цветы…»</b>
        <br>
        <% end %>
      </div>
      <div id='enter'>
        <%= link_to 'Вход', page_path("announcement") %>
      </div>
    </div>
  </div>
</div>
<div id='blog-photo'>
  <img src="http://www.korneeva.com/img/main.jpg" alt="Маргарита Корнеева">
</div>
<br>
