<h1>
  Заметки на полях
</h1>

<h2>
  Дорогие друзья!
</h2>

<p>
Мне очень нужны единомышленники (как в Москве, так и в других городах), которые могли могли бы заняться организацией концертов и гастролей. Практически невозможно совместить творчество и менеджмент, поэтому совершенно необходим директор / администратор / импрессарио / менеджер - выбирайте любое название, сути это не меняет. Откликнитесь, мне очень нужна ваша помощь! Думаю, это будет взаимовыгодное сотрудничество и приятное интересное общение.
</p>
<p>
Искренне ваша
Маргарита Корнеева
</p>
