<h1>Непроверенные сообщения </h1>
<p>Сообщения, которые нуждаются в проверке перед публикацией</p>
<% if @feedbacks.any? %>
  <% @feedbacks.each do |feedback| %>
    <%= feedback.name %> из <%= feedback.location %> пишет <br>
    <%= feedback.body %> <br>
    <p>Желаете ли опубликовать это сообщение?</p>
    <%= link_to "Опубликовать!", publish_feedback_path(feedback), :method => :put %>
  <% end %>
<% else %>
  <p>Пока нет ни одного сообщения для проверки</p>
<% end %>