<h1>Непроверенные сообщения </h1>
<p>Сообщения, которые нуждаются в проверке перед публикацией</p>

<% if @feedbacks.any? %>
  <%= render @feedbacks %>
<% else %>
  <p>Пока нет ни одного сообщения для проверки</p>
<% end %>