/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */
/*
for title header h1
 font-family: "StudioScriptCRegular",sans-serif;
 for nav menu li a
 font-family: "LetteraTrentadueRegular",serif;
 for text p
 font-family: "Comic Sans MS","Comic Sans",sans-serif;
 */
/* general styles */
body {
  background-color: #E2CC99;
  color: #433C2A;
  margin: 0 auto;
  font-family: "Comic Sans MS","Comic Sans", sans-serif;
  width: 1280px;}

.fl-lf {
  float: left;
  border: red 1px solid;
}
.fl-rt {
  float: right;
  border: blue 1px solid;
}
.clearfix {
  clear: both;
  font-size: 0;
}
.weaves {
  font-size: 0;
  margin: 0 auto;
}
.text-to-right {
  text-align: right;
}
.narrow-text {
  width: 550px;
}
.wide-text {
  width: 980px;
}
.anons-width{
  width: 235px;
}
.text-block {
  display: inline-block;
}

/* general styles */
/* layout styles */
header h1 {
  font-family: "Comic Sans MS","Comic Sans",sans-serif;
  font-family: "StudioScriptCRegular",sans-serif;
  font-size: 29pt;
  margin-right: 10px;
  text-align: center;
}
header .weaves {
  width: 1165px;
}
#main {
  width: 1280px;
}
#main aside {
  display: inline-block;
  height: 300px;
  text-align: right;
  vertical-align: top;
  width: 200px;
}
#main aside nav {
  padding: 10px;
  width: 180px;
}
#main aside nav a {
  color: #433C2A;
  text-decoration: none;
  display: block;
  font-family: "LetteraTrentadueRegular",serif;
  font-size: 14pt;
}

/* layout */

#content {
  display: inline-block;
  width: 980px;
}
#content h1 {
  font-size: 2em;
  margin: 10px 0;
  text-align: center;
}
/* songs */
#content #page-image {
  display: inline-block;
  margin: 1px;
  vertical-align: top;
  width: 178px;
}
#content #songs-page-desc {
  display: inline-block;
  padding: 5px;
  width: 700px;
}
#content #songs-page-desc h1 {
  font-family: "StudioScriptCRegular",sans-serif;
  font-size: 18pt;
  margin-bottom: 0;
  margin-top: 0;
}
#content #songs-list {
  width: 980px;
}
#songs-list .weaves {
  width: 705px;
}
#songs-list .song {
  margin: 5px 0;
}
/* songs */
#content .weaves {
  font-size: 0;
  margin: 30px auto;
}
#content .show {
  width: 235px;
}
/* anonsment */
#content #anons-photo {
  display: inline-block;
  width: 145px;
}
#content #anons-photo img{
  height: auto;
  width: 175px;
}
#content #sponsor-search {
  text-align: justify;
  text-indent: 1.5em;
  font-size: 11pt;
  font-style: italic;
  font-weight: bold;
}
#content p > a {
  font-weight: bold;
}
#content .narrow-anons {
  width: 725px;
}
#content ul p {
  display:inline;
  margin-left: 10px;
}
/* anonsment */
/* messages */
/* messages */
/* reviews */
#content a > img {
  width: 151px;
  height: 218px;
  border:  0;
}
/* reviews */
/* about myself */
#content p {
  font-size: 11pt;
  text-align: justify;
  text-indent: 1.5em;
  color: #433C2A;
  font-family: "Comic Sans MS","Comic Sans",sans-serif;
  margin: 2px;
  padding: 3px;
}
#content img.photo {
  display: inline-block;
  height: 342px;
  margin: 45px 0 10px 20px;
  padding: 4px;
  width: 385px;
}
/* about myself */
/* guestbook / feedbacks */
#content #guestbook-photo {
  display: inline-block;
  margin: 0 30px;
  width: 170px;
}
#content #guestbook-photo img{
  display: inline-block;
  height: 320px;
  width: 170px;
}
/* guestbook / feedbacks */
#content #feedback-form {
  display: inline-block;
  vertical-align: top;
  width: 580px;
}
#content #feedback-form-desc p:nth-child(2) {
  font-style: italic;
}
#content #feedback-form h2 {
  margin: 10px 0 15px 20px;
}

#content #feedback-form form label {
  padding: 6px 10px 0 10px;
}
#content #feedback-form form label {
  display: inline-block;
  vertical-align: top;
  width: 170px;
}
#content #feedback-form form input[type="text"],
#content #feedback-form form textarea {
  width: 350px;
}
#content #feedback-form form input[type="submit"] {
  margin: 5px 0 0 190px;
}
#content #feedback-form div.input {
  margin-bottom: 15px;
}
#content #feedback-form-desc > p {
  text-align: center;
}
#content #feedback-text p {
  display: block;
  font-style: italic;
}
#content #feedback-text p:nth-child(4) {
 font-weight: bold;
}
#content #feedback-text p:nth-child(6) {
  text-align: right;
}